#content{
    position: absolute; z-index: 1;
}

/**************************** page1 ***********************************/
.container{
    margin: 0;
    padding: 0;
    background-image:url(../../../assets/images/background.png), url(../../../assets/images/building.png);
    background-position: 0 0, 50% 0;
    background-repeat: no-repeat,no-repeat;
    background-size: cover,auto;
    font-size: 612px;
    line-height: 950px;
}

.logo{
    font-size: 14px;
    line-height: 20px;
    padding-top: 200px;
}
.div-block{
    margin-top: 274px;
}
.heading{
    text-align: right;
    margin-left: 0;
    margin-right: 123px;
    padding-left: 0;
    padding-right: 105px;
    color: #ffffff;
}
.heading-2{
    text-align: right;
    margin-bottom: 0;
    margin-right: 43px;
    padding-right: 222px;
    color: #ffffff;
}
.heading-3{
    text-align: left;
    margin-top: 0;
    padding-top: 36px;
    padding-bottom: 0;
    color: #ffffff;

}
.image-2{
    text-align: justify;
    margin-top: -1100px;
    margin-left: 430px;
    padding-left: 194px;
}
.div-block{
    margin-top: 274px;
}
.div-block-2{
    background-color: #ffffff;
    margin-top: 7px;
    padding-top: 0;
    padding-bottom: 0;
}
.heading-4, .heading-5{
    text-align: center;
    color: #2c5176;
}
.mycolumn{
    margin-top: -900px;
    margin-right: -650px;
}
.image-4{
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform-style: preserve-3d;
    margin-top: -515px;
    padding-top: 0;
    padding-left: 9px;
    padding-bottom: 4px;
    transition: opacity .2s;
    overflow: clip;
    transform: rotateX(1deg)rotateY(0)rotateZ(0)rotateX(0)rotateY(180deg)rotateZ(180deg);
}
/* spinner */
.spin{
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 90vh;
    font-size: 4rem;
    position: absolute; 
    z-index: 2;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.spinner {
    animation: spin 1s linear infinite;
}

/* ***********************************page2*********************** */
.navbar{
    background-image: url('../../../assets/images/navColor.png'), url('../../../assets/images/navImage.png');
    background-size: cover, cover;
    background-position: 0 0 , 50% 0;
    height: 270px;
    padding: 0;
}
.image-5{
    margin-left: 45px;
    display: block;
}
.container-log{
    margin-top: -80px;
    margin-left: 30px;
    margin-right: auto;
}
.container-2{
    width: 100%;
    padding: 0;
}
.parag{
    text-align: right;
    line-height: 2;
    margin-top: 50px;
}
.w-container{
    margin-top: 100px;
}
.div-parag{
    margin-top: 100px;
    padding-right: 250px;
    padding-left: 250px;
}
.div-button{
    background-image: url('../../../assets/images/button.png');
    background-size: cover;
    text-align: center;
    width: 420px;
    height: 80px;
    margin-top: 203px;
}
.footer{
    background-image: url('../../../assets/images/footer.png');
    background-size: cover;
    margin-top: 340px;
    padding: 30px 30px 40px;
    position: relative;
}
.footer-bottom{
    margin-left: 100px;
    color: #2c5176;
    text-transform: uppercase;
}

/****************************** page3 *************************************/
.page-3{
    background-image: url('../../../assets/images/recColor.png'), url('../../../assets/images/recimage.png');
    background-position: 0 0, 0 0;
    background-size: cover, cover;
    width: 600px;
    height: 950px;
}
.div-8{
    text-align: right;
    padding-right: 36px;
}
.div-9{
    text-align: right;
    width: 300px;
    margin-top: 540px;
    margin-left: 70px;
    color: #2c5176;
}
.lineColor{
    width: 270px;
}

/************************* page 4 **********************************/
.navbar-4{
    background-image: url('../../../assets/images/navColor.png'), url('../../../assets/images/navImage.png');
    background-size: cover, cover;
    background-position: 0 0 , 50% 0;
    height: 270px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.image-5-4{
    margin-left: 45px;
    display: block;
}
.container-log-4{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: auto;
}
.container-4{
    width: 100%;
    padding: 0;
}

.div-13{
    text-align: right;
    margin-top: 50px;
    padding-right: 90px;
    flex: 0 0 200px;
    color: #ffff;
}
.image-9{
    width: 250px;
}
.column{
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
    padding-left: 50px;
}
.columns{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    color: #2c5176;
}
.div-14{
    text-align: right;
    margin-bottom: 30px;
}
.div-15{
    margin-top: 53px;
    margin-left: 90px;
    margin-right: 90px;
    color: #2c5176;
}
/****************************************/
.footer-4{
    background-image: url('../../../assets/images/footer.png');
    background-size: cover;
    margin-top: 325px;
    padding: 30px 30px 40px;
    position: relative;
}
/************************* page 5 *********************************/
.page-5{
    background-image: url(../../../assets/images/background.png), url(../../../assets/images/building.png);
    background-position: 0 0, 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto;
    width: 612px;
    height: 950px;
    color: #ffff;
}
.div-10{
    height: 580px;
    width: auto;
    margin-top: -147px;
    padding: 0;
}
.div-11{
    text-align: center;
    margin-top: -50px;
}
.div-12{
    text-align: center;
    padding-top: 40px;
}