<button class="btn border border-info" type="button" (click)="generatePDF()">التقرير</button>
<div id="page4" #page4>
    <div class="navbar-4">
        <div class="container-2 container-log">
            <img class="image-5" src="../../../assets/images/logosm.png" alt="">
        </div>
        <div class="div-13">
            <h3>المبالغ المصروفة</h3>
            <h1 class="fs-1">ل وزارة المالية</h1>
            <img class="image-9" src="../../../assets/images/line.png">
        </div>
    </div>
    <div class="columns row">
        <div class="col col-4">
            <canvas #polarCanvas></canvas>
        </div>
        <div class="column col col-8">
            <h1>عنوان الاحصائية</h1>
            <p class="fs-2">نص توضيحي لهذه الاحصائية نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ،  ، </p>
        </div>
    </div>
       
    <div class="div-15">
        <div class="div-14">
            <h1>عنوان الاحصائية</h1>
            <p class="fs-2">نص توضيحي لهذه الاحصائية نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ، نص توضيحي لهذه الاحصائية ،  ، </p>
        </div>
        <div>
            <canvas #barCanvas></canvas>
        </div>
    </div>
    <div class="footer-4">
        <div class="container-2">
            <div class="footer-bottom">
                © copyright 2024 |<b>monafsat</b>| All rights reserved
            </div>
        </div>
    </div>
</div>
